.navBar{
    width: 100%; 
    background: linear-gradient(rgba(236, 235, 233,1) 0%, 
                                 rgba(236, 235, 233,1) 89%, 
                                 rgba(236, 235, 233,0.8) 90%,
                                 rgba(236, 235, 233,0.6) 92%,
                                 rgba(236, 235, 233,0.4) 94%,
                                 rgba(236, 235, 233,0.2) 96%,
                                 rgba(236, 235, 233,0.1) 98%,
                                rgba(236, 235, 233,0) 100%);
    display: flex;
    justify-content: space-between;
    

}
.navBar .logo{
    margin-top: 1rem;
    align-self: center;
    margin-left: 1rem;
}
.navBar p{
    align-self: center;
    font-family: 'Neonderthaw', cursive;
    font-size: 3rem;
}
.botoneraHeader{
                width: 30%;
}
.botoneraHeader ul{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
}
.botoneraHeader ul li{
                    list-style-type: none;
                    margin-top: 1rem;
                    padding: 2rem;   
                    display: flex;  
}
    .botoneraHeader ul li a{
        text-decoration: none;
        color: #000;
        display: block;
        align-self: center;
    }
    i{
        cursor: pointer;
    }